dataset: Instrument2018_MM
seed: 2020
reproducibility: True
log_dir: ./logs

map_path: .emb_map.json
collab_emb_path: Instrument2018_MM_collab_emb_256.npy
text_emb_path: Instrument2018_MM_sentence-transformer_text_768.npy
# image_emb_path: Instrument2018_MM_clip_image_768.npy
normalize: False
semantic_hidden_size: 256 # 会被自动更新为 256+768+768=1792
code_num: 256
code_length: 4

# train
epochs: 400
lr_rec: 0.005
lr_id: 0.0001
weight_decay: 0.05

id_vq_loss: 1
id_code_loss: 0
id_kl_loss: 0.0001
id_dec_cl_loss: 0.0003

rec_vq_loss: 0
rec_code_loss: 1
rec_kl_loss: 0.0001
rec_dec_cl_loss: 0.0003

cycle: 2
sim: cos

warmup_steps: 8000
batch_size: 512
eval_batch_size: 32
num_workers: 8
eval_step: 2
learner: AdamW
data_path: ./RecBole/dataset
lr_scheduler_type: cosine
gradient_accumulation_steps: 1

max_his_len: 50
early_stop: 15

metrics: recall@1,recall@5,ndcg@5,recall@10,ndcg@10
valid_metric: ndcg@10

# model
max_length: 210
encoder_layers: 6
decoder_layers: 6
d_model: 128
d_ff: 512
num_heads: 4
d_kv: 64
dropout_rate: 0.1
activation_function: "relu"
feed_forward_proj: "relu"
num_beams: 20

alpha: 1
warm_epoch: 10
# rqvae_path: ./RQVAE/rqvae_ckpt/TripleMM/Feb-20-2026_20-51-50/best_collision_0.0474_gini_0.3255.pth  # 三模态需要重新训练 RQ-VAE，不能复用双模态的
rqvae_path: ./RQVAE/rqvae_ckpt/DualSCID/Feb-20-2026_23-38-26/best_collision_0.0049_gini_0.3784.pth  # 需要在MM数据集上重新训练双模态RQVAE

#rqvae
num_emb_list: [256,256,256]
beta: 0.25
e_dim: 128
layers: [1024, 512, 256]  # 中间层，实际encoder: [in_dim(1792), 1024, 512, 256, e_dim(128)]
vq_type: vq
dist: l2
tau: 0.07
kmeans_init: False
kmeans_iters: 100
dropout_prob: 0.0
bn: False
loss_type: mse
